@import url('https://fonts.googleapis.com/css2? family= Aboreto & family= Homemade+Apple & family= Roboto+Flex:opsz,wght@8..144,200 & display=swap');

section {
    margin: 30px;
}

div.top {
    padding-top: 15%;
    background-color: aliceblue;
    height: 60%;
    border-bottom: 5px solid #00091a;

}

.cabecalho {
    display: flex;
}

div.imagens {
    display: flex;
}

.titulo {
    font-family: 'Aboreto', system-ui;
    padding-left: 70px;
    display: block;
    font-size: 60px;
}

.titulo p {
    font-size: 50px;
    color: brown;
    font-family: 'Dancing Script', cursivo;
}

img {

    height: 200px;
    width: 200px;
    border-radius: 100%;

}
a.cont{
    display: none;
}
a {
    padding-top: 30px;
    margin: 10px;
    font-family: 'Aboreto', system-ui;
    text-decoration: none;
    color: rgb(233, 237, 240);
    font-size: 15px;
    font-weight: 900;
    background: #00091a;
    width: 50%;
}

a:hover {
    box-shadow: 5px 15px #00091a;
}


p {
    font-weight: 600;
    color: #00091a;
}

@media (max-width:400px) {
    div.imagens {
        display: block;
    }
    p{
        background-color: transparent;
        display: none;
    }
    img{
       margin-bottom: 100px;
    }
    a{
        color: #00091a;
        background: transparent
    }
    
    .menu{
        display: none;
    }
    section.corpo{
        padding-top: 0;
    }
    a.cont{
        display: list-item;
    }
}