/* For desktop: */
.div {width: 8.33%;}
.div {width: 16.66%;}
.div {width: 25%;}
.div {width: 33.33%;}
.div {width: 41.66%;}
.div{width: 50%;}
.div{width: 58.33%;}
.div {width: 66.66%;}
.div {width: 75%;}
.div {width: 83.33%;}
.div {width: 91.66%;}
.div {width: 100%;}



/*bibiotleca*/

@media screen and (max-width: 600px) {
    .image {
      width: calc(50% - 20px);
    }
    
    li .nav-link{
              display: grid;  
        justify-content: center;
    }
  }

  @media screen and (max-width: 480px) {
    .image {
      width: 100%;

    }
  }
/* Estilos para telas grandes (acima de 768px) */
@media (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .nav-item {
      margin-right: 20px;
    }
  
    .dropdown-menu {
      display: none;
      position: absolute;
      width: 100%;
      background-color: transparent;
    }
  
    .dropdown-menu a {
      color: #310202;
      display: block;
    }
  
    .dropdown-menu a:hover {
      background: #000000;
      transition: 1.3s;
      color: #75b380;
    }
  
    .dropdown:hover .dropdown-menu {
      display: grid;
      width: 100px;
    }
  }
  
  /* Estilos para telas pequenas (até 768px) */
  @media (max-width: 768px) {
    
    nav{
        position: relative;
    }
    .nav-link{
        padding: 15px;
    }

    a.dropdown-item:hover{
        padding: 15px;
        background-color: #975d0c;
        width: 100px;
    }
    .navbar {
      flex-direction: column;
    }
  
    .nav-item {
      margin: 0;
    }
  
    .dropdown-menu {
      display: none;
      position: relative;
    }
  
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }
