@media (max-width:400px) {
    section{
        padding-top:80%;
        width: 100%;
    }
    h1{
        padding-left: 15px;
        color: aqua;
    }
    p{
        color: black;
        font-weight: 600;
        padding-top: 30px;
    }
    div.sob{
    padding-left: 15px;
    }
    .map{
        display: none;
    }

}