* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {

    font-family: 'Roboto Flex', sem serifa;
    font-size: 15px;
    background: #71a1fa;
}

/*menu*/


button {
    background: #00091a;
    color: white;
    transition: 1.5s;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-weight: 500;
    font-size: 15px;

}

button:hover {
    background: rgba(73, 137, 167, 0.349);
    color: white;
}

nav {
    position: absolute;
    border-top: 0;
    display: inline-flex;
    color: brown;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: aliceblue;
}

.logo {
    color: aquamarine;
    font-size: 20px;
    padding-left: 70px;
    margin-right: 30px;
    font-family: 'Homemade Apple', cursiva;
}

ul {
    border-top: 30px solid #00091a;
    height: 50px;
    width: 100%;
    background: #00091a;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

header {
    position: fixed;
    z-index: 1;
}

li {

    display: inline;

}

li a {
    transition: 1.5s;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-weight: 500;
    font-size: 15px;

}

/*resto*/
a {
    height: 100px;

    p {
        display: none;
    }
}

a:hover {
    background: rgba(73, 137, 167, 0.349);
    color: white;

    p {
        display: table;
    }

    span {
        display: none;
    }
}

section {
    padding-top: 100px;
    padding-bottom: 10px;
    height: 100%;
    width: 100vh;


}

div {
    display: flex;
    flex-wrap: nowrap;
}

div.sob {
    width: 100%;
}

p {
    color: aliceblue;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #00091a23;
    color: aliceblue;
    font-family: 'Aboreto', system-ui;
    font-size: 12px;

}

span {

    color: rgb(3, 27, 48);
}

/**MOBILE*/

@media (max-width:400px) {
    body {
        margin: 0;
        border: 0;
        background: #71a1fa;
        overflow-x: hidden;
    }

    section {
        padding-top: 60%;
        height: 100%;
        width: 100px;

    }
    

    .logo {
        display: none;
    }

    .menu {

        display: grid;
        height: 35%;
        
    }
    li{
        margin:5px;
    }
    .top {
        display: none;
    }

    span {
        display: none;
    }

    nav {
        background-color: #333;
        padding: 10px;
    }



}